# Linux start script must use LF
/gradlew        text eol=lf

# Windows script files must use CRLF
*.bat           text eol=crlf

# Git hooks are POSIX shell scripts and must use LF
/.githooks/*    text eol=lf
